@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font: normal 100%/1.3 Georgia, serif;
  background-color: #ffe9ff;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

header {
  text-align: center;
}

.banner {
  display: none;
}

h1 {
  margin: 0 0 .5rem;
  font-size: 3rem;
  text-shadow: 4px 1px #adadad;
  color: #fff;
  font-family: 'Cookie', cursive;
}

.main-nav ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-nav li {
  text-align: left;
  padding: .5rem;
  border-top: 2px solid #bc5bb2;
}

.main-nav li:hover {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #bc5bb2;
}

.main-nav ol:last-child {
  border-bottom: 2px solid #bc5bb2;
}

.featured-image {
  width: 50%;
}

.featured {
  display: flex;
  padding: 1rem;
}

.featured-content {
    width: 50%;
    padding-left: .5rem;
}

.featured-content h2 {
  margin-top: 0;
}

.store-content {
  padding: 0 1rem 1rem;
}

.store-content h2 {
  margin-top: 0;
}

.extra-image, .people-image {
  padding-top: 1em;
}

.info {
  list-style: none;
}

.info .cards {
  padding: 1.5rem;
  background-color: #fff3fe;
}

.cards dt {
  font-weight: bold;
  font-size: 1.5em;
}

.button a {
  text-align: center;
  background-color: #dab0d6;
  color: #fff;
  width: 75%;
  padding: .5em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.button a:hover {
  background-color: #fff;
  color: #fb57eb;
}

footer {
  display: flex;
  width: 100%;
  font-size: .7em;
  background-color: #f6cbf1;
  position: relative;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

.social li {
  max-width: 3em;
  margin: 1.5em;
}

.socials {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.information {
  padding-left: 1.5em;
}

@media only screen and (min-width: 25em) {

  .info dt {
    text-align: center;
  }

  .featured-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .store-content h2 {
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  html {
    line-height: 1.4;
    font-size: 110%;
  }

  .banner {
    display: flex;
    position: relative;
  }

  h1 {
    position: absolute;
    top: 4em;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-nav ol {
    display: flex;
    justify-content: space-around;
  }

  .main-nav li {
    border: 1px solid #bc5bb2;
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }


  .featured-content {
    align-items: center;
    justify-content: center;
    padding: 0 2em;
  }

  .in-store {
    position: relative;
  }

  .store-content {
    position: absolute;
    bottom: .1em;
    left: .1em;
    background-color: rgba(213, 188, 224, 0.33);
    padding: 1em;
    border-radius: 2em;
  }

  .people-image {
    width: 50%;
  }

  .extra-image {
    width: 50%;
  }

  .images {
    display: flex;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    padding-right: 2.5em;
  }

  .cards {
    width: 50%;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cards:first-child p {
    margin-top: 0;
    margin-bottom: 3em;
  }

  .cards:first-child dt {
    margin-bottom: 0;
  }

  .cards:last-child {
    margin: 0 25%;
  }

}

@media only screen and (min-width: 60em) {

  html {
    line-height: 1.5;
    font-size: 120%;
  }

  h1 {
    font-size: 4em;
  }

  .banner {
    width: 100%;
    max-height: 500px;
    overflow: hidden;
    display: block;
  }

  .img-flex {
    width: 100%;
  }

  .featured-content {
    text-align: center;
  }

  .featured-content h2 {
    background-color: #e125ce;
    border: 5px solid #fff;
    padding: 2em;
    text-decoration: underline;
  }

  .people-image {
    width: 48%;
    padding: 1em;
    display: inline-block;
  }

  .extra-image {
    width: 48%;
    padding: 1em;
    display: inline-block;
  }

  .images {
    justify-content: space-between;
  }

  dl .cards {
    width: 33%;
  }

  .cards:last-child {
    margin: 0;
  }

  .cards:last-child p {
    margin-bottom: 6em;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .featured-content {
    font-size: 2em;
  }

}
